<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="Keywords" content="bus, onibus">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StarBus | v0.1.0</title>
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="libraries/font-awesome/css/font-awesome.min.css">

    <!-- bower:css -->
    <link rel="stylesheet" href="libraries/angular-material/angular-material.css" />
    <link rel="stylesheet" href="libraries/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="libraries/nvd3/build/nv.d3.css" />
    <!-- endbower -->
  </head>
  <body ng-app="starBusWeb">
    <section class="starbus">

      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
          <div class="aside__header">
            <div class="aside__header--icon"></div>
            <div class="aside__header--title">StarBus &copy;</div>
          </div>
        </md-toolbar>
        <md-content class="sidenav__content">
          <md-list>
            <md-list-item class="">
              <md-button flex="auto" class="md-primary md-raised" ng-click="showListBottomSheet()">
                <div class="md-list-item-text" layout="column">
                  <h3><i class="fa fa-bus"></i> Ônibus</h3>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item class="">
              <md-button flex="auto" class="md-primary md-raised" ng-click="showListBottomSheet()">
                <div class="md-list-item-text" layout="column">
                  <h3><i class="fa fa-users"></i> Pessoas</h3>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item class="">
              <md-button flex="auto" class="md-primary md-raised" ng-click="showListBottomSheet()">
                <div class="md-list-item-text" layout="column">
                  <h3><i class="fa fa-hand-paper-o "></i> Paradas</h3>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item class="">
              <md-button flex="auto" class="md-primary md-raised" ng-click="showListBottomSheet()">
                <div class="md-list-item-text" layout="column">
                  <h3><i class="fa fa-road"></i> Linhas</h3>
                </div>
              </md-button>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="">
              <md-button flex="auto" class="md-primary md-raised" ng-click="showListBottomSheet()">
                <div class="md-list-item-text" layout="column">
                  <h3><i class="fa fa-cogs"></i> Configurações</h3>
                </div>
              </md-button>
            </md-list-item>
          </md-list>
        </md-content>

        <md-button class="md-fab md-primary sidenav__settings" aria-label="Settings">
          <md-icon md-svg-src="images/bars.svg"></md-icon>
        </md-button>
      </md-sidenav><!-- Menu Lateral -->

      <md-content flex layout="column" ng-controller="chartLineCtrl" class="starbus__content">
        <md-list>
          <md-list-item>
            <md-card class="starbus__content--chart">
              <md-card-content layout="row" layout-align="space-between">
                <div class="md-media-xl card-media chart">
                  <nvd3 options="options" data="data"></nvd3>
                </div>
                <md-card-actions layout="column">
                  <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="images/line.svg"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="images/bar.svg"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Share">
                    <md-icon md-svg-icon="images/pie.svg"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="images/bubble.svg"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Share">
                    <md-icon md-svg-icon="images/sun.svg"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card-content>
            </md-card>
          </md-list-item>
        </md-list>
      </md-content><!-- Área do gráfico -->

    </section>

    <!-- bower:js -->
    <script src="libraries/jquery/dist/jquery.js"></script>
    <script src="libraries/angular/angular.js"></script>
    <script src="libraries/bootstrap/dist/js/bootstrap.js"></script>
    <script src="libraries/angular-animate/angular-animate.js"></script>
    <script src="libraries/angular-aria/angular-aria.js"></script>
    <script src="libraries/angular-cookies/angular-cookies.js"></script>
    <script src="libraries/angular-messages/angular-messages.js"></script>
    <script src="libraries/angular-resource/angular-resource.js"></script>
    <script src="libraries/angular-route/angular-route.js"></script>
    <script src="libraries/angular-sanitize/angular-sanitize.js"></script>
    <script src="libraries/angular-touch/angular-touch.js"></script>
    <script src="libraries/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="libraries/angular-ui-router.stateHelper/statehelper.js"></script>
    <script src="libraries/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="libraries/angular-translate/angular-translate.js"></script>
    <script src="libraries/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="libraries/angular-material/angular-material.js"></script>
    <script src="libraries/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="libraries/angular-loading-bar/build/loading-bar.js"></script>
    <script src="libraries/d3/d3.js"></script>
    <script src="libraries/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="libraries/moment/moment.js"></script>
    <script src="libraries/angular-moment/angular-moment.js"></script>
    <script scr="libraries/zepto/zepto.min.js"></script>
    <!-- endbower -->
    <script src="libraries/nvd3/build/nv.d3.js"></script>

    <!-- main -->
    <script src="js/main.js"></script>
    <script src="js/config.js"></script>

    <!-- Components:line -->
    <script src="components/line/chartline.ctrl.js"></script>
    <script src="components/line/chartline.factory.js"></script>
  </body>
</html>
